header, footer {
    padding: 1em;
    color: black;
    background-color: orange;
    clear: left;
    text-align: center;
}


.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
}

h3 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

* {
    padding: 0;
    margin: 0;
  }
  .fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
  }
  .center {
    display: block;
    margin: auto;
  }


body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  width: 50%;
  margin: auto;
}

table, th{
    border: 0px solid black;
    border-collapse: collapse;
    text-align: left;
}

table, td{

  text-align: center;
}


}
#logo {
  text-align: right;
}

#content {
  padding: 1em;
}

.box {
  border: 0px solid #999;
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 0.5em;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}
h4{
  font-style: bold;
}
.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}