#header {
  font-family: "Poiret One",Helvetica,Arial,sans-serif;
  height: 170px;
  background: #ECF0F1;
  position: fixed;
  text-align: center;
  width: 100%;
  // line-height: 30px;
 //margin-bottom: 170px;
 // padding: 10px 0px;

  #main-nav {
    margin-top: 15px;
  }

  #main-nav > ul > li:first-of-type {
   margin-left: 0;
  }

  #main-nav > ul > li {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   font-size: 18px;
   margin-left: 50px;
  }
}

#header hr {
  color:  #A17917;
  width: 550px;
}

#header h1 {
  color: #333;
  font-size: 58px;
  font-weight: 300;
  line-height: 1.1;
}

#header a {
  color: #333;
}

#header a:hover {
  color:  #A17917;
}


