<h1>My Ambition</h1>
<p>During the 1st year I want to spend my time learning and keeping up with new technologies and want to specialise in Ruby and learn more frameworks beyond the scope of the course and have the knowledge of how to optimise the performance of Ruby applications. After this I want to be able to create and deploy Ruby web applications with confidence and be working for a company which is innovative and interesting. If the company has opportunities such as managing projects or taking lead then I will try and take it but with 1 years’ experience I will still be learning a lot therefore I do not expect to leap to senior developer roles. I do however want to take part in meet ups and try to contribute to the web through public speaking and hackathons. I would love to give talks on my journey to web development and how I overcame obstacles.</p>

<div>
  <a href="/">Back</a>
</div>