<!-- didn't want to go the whole model-view-controller cycle for 'blog posts' -->
<!-- for several reasons; two main would be: time right now. and the fact that this project uses sinatra.. -->
<!-- (can come-up with more excuses if needs be) -->
<div class="profile-section box">
  <h3>Uni project: </h3>
  <p class="profile-value">
    <iframe width="600" height="355" src="//www.youtube.com/embed/njcN3t6T7DI" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
<div class="profile-section box">
  <h3>Work: </h3>
  <p class="profile-value">
  <a href="http://kosmopollondon.co.uk/" target="_blank">http://kosmopollondon.co.uk/</a> <br />
  <a href="http://www.mspropertieslondon.co.uk/" target="_blank">http://www.mspropertieslondon.co.uk/</a>
  </p>
</div>
<div class="profile-section box">
  <h3>Just an awesome scene: </h3>
  <p class="profile-value">
    <iframe width="600" height="355" src="//www.youtube.com/embed/OLCL6OYbSTw" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
<div class="profile-section box">
  <h3>Ken Robinson: How to escape education's death valley: </h3>
  <p class="profile-value">
    <iframe width="600" height="355" src="//www.youtube.com/embed/wX78iKhInsc" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
