<div class="error">
  <h2>Error</h2>

  <p>Unforunately, there was a problem updating your profile. Here's some more
  information about the request, response and what went wrong:</p>

  <%= @errors.inspect %>

  <div>
    <a href="/">Back</a>
  </div>
</div>