<!DOCTYPE html> 
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<title>Finn Francis | Home Page</title>
</head>

<body>
	<div id="background">
		<div id="topbar"></div>
		<div id="container">

			<div id="sidebar">
				<img id="photo" src="../public/images/profile.jpg" width="198" /><br><br>
				<h1>Finn Francis</h1><br>
				<h3>Gender: Male</h3><br>
				<h3>Age: 24</h3><br>
				<p>16-12-1991</p><br>
				<p>07971 369 845</p><br>
				<p>finn_francis@yahoo.com</p><br>
			</div>

			<div id="main_body" align="center">
				<img id="logo" src="../public/images/logo.png" />

				<div id="connect" class="segment">
					<h2>Connect With Finn</h2>
					<hr>
					<br>
					<ul>
						<li><a href="https://www.facebook.com/finnf" target="_blank"><img class="link" src="../public/images/facebook.png" width="120px" /></a></li>
						<li><a href="https://twitter.com/FinnFrancis" target="_blank"><img src="../public/images/twitter.png" width="95px" /></a></li>
						<li><a href="https://uk.linkedin.com/in/finn-francis-8420844b
" target="_blank"><img class="link" src="../public/images/linkedin.png" /></a></li>
						<li><a href="https://github.com/finn-francis" target="_blank"><img class="link" src="../public/images/github.png" /></a></li>
					</ul>
				</div>

				<div class="segment">
					<h2>Work and Education</h2>
					<hr>
					<br>
					<p>I am currently self employed as a gardener and general handyman</p><br>
					<p>I took my GCSE's at John Beddoes School in Preseigne and went on to study music at Hereford College of Arts</p>
				</div>

				<div class="segment">
					<h2>How I Found the Course</h2>
					<hr>
					<br>
				</div>

				<div class="segment">
					<img src="../public/images/codecademy.png" width="300px" />
					<hr>
					<br>
					<ul>
						<li><img class="icon" src="../public/images/html.png" height="90px" /></li>
						<li><img class="icon" src="../public/images/ruby.png" /></li>
						<li><img class="icon" src="../public/images/javascript.png" /></li>
					</ul>
				</div>

			</div>

		</div>
	</div>
</body>

</html>