<!DOCTYPE html> 
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<title>Finn Francis | Home Page</title>
</head>

<body>
	<div id="background">
		<div id="topbar"></div>
		<div id="container">

			<div id="sidebar">
				<img id="photo" src="/images/profile.jpg" width="198" /><br><br>
				<h1>Finn Francis</h1>
				<hr>
				<br>
				<h3>Gender: Male</h3><br>
				<h3>Age: 24</h3><br>
				<p>16-12-1991</p><br>
				<p>07971 369 845</p><br>
				<p>finn_francis@yahoo.com</p><br>
				<p><a href="/primes">Prime Number Solution</a></p>
				<br>
			</div>

			<div id="main_body" align="center">
				<img id="logo" src="/images/logo.png" alt="We Got Coders" />

				<div id="connect" class="segment">
					<h2>Connect With Finn</h2>
					<br>
					<ul>
						<li><a href="https://www.facebook.com/finnf" target="_blank"><img class="link" src="/images/facebook.png" alt="Facebook" width="120px" /></a></li>
						<li><a href="https://twitter.com/FinnFrancis" target="_blank"><img src="/images/twitter.png" alt="Twitter" width="95px" /></a></li>
						<li><a href="https://uk.linkedin.com/in/finn-francis-8420844b
" target="_blank"><img class="link" src="/images/linkedin.png" alt="Linkedin" /></a></li>
						<li><a href="https://github.com/finn-francis" target="_blank"><img class="link" src="/images/github.png" alt="Github" /></a></li>
					</ul>
				</div>

				<div id="about" class="segment">
					<h2>About Me</h2><br>
					<p>My name is Finn Francis<br>I'm 24 years old, I toured with a pop band for 3 years, and now I'm looking for a more reliable career.<br>I am currently self employed and working as a gardener, guitar teacher, and as part of an events build team. I spend most of my spare time learning programming and working on some web projects.</p>
				</div>

				<div class="segment">
					<h2>Work and Education</h2>
					<br>
					<p>I am currently self employed as a gardener and general handyman</p>
					<p>I took my GCSE's at John Beddoes School in Preseigne and went on to study music at Hereford College of Arts</p>
				</div>

				<div class="segment">
					<h2>How I Found the Course</h2>
					<br>
					<p>I found you in the comments section of an online forum whilst in search of coding boot camps. This course stood out due to the consistently positive reviews - I couldn't find a bad one. It was also the only course specifically designed to get you into a job.</p>
				</div>

				<div class="segment">
					<a href="https://www.codecademy.com/finn_francisyahoo.com" target="_blank"><img src="/images/codecademy.png" alt="Codecademy" width="300px" /></a>
					<br><br>
					<table>
						<tr>
							<td><img class="icon" src="/images/html.png" alt="HTML and CSS" height="90px" /></td>
							<td><img class="icon" src="/images/ruby.png" alt="Ruby" /></td>
							<td><img class="icon" src="/images/javascript.png" alt="Javascript" /></td>
						</tr>
						<tr>
							<td style="padding-left: 73px;">Completed</td>
							<td style="padding-left: 60px;">Completed</td>
							<td style="padding-left: 58px;">Completed</td>
						</tr>
					</table>

					</ul>
				</div>

			</div>

		</div>
	</div>
</body>

</html>