<% if @profile %>

    <div id="header">
        <h1>Claudio's Amazing Profile</h1>
    </div>

    <div id="navbar">
        <ul>
            <li>
                <a href="#">Stats</a>
            </li>
            <li>
                <a href="/primes">Primes</a>
            </li>
            <li class="box">
                <img src="/images/profile.jpg"/>
                <a href="#" style="color: black"><div class="inner-box">More Pictures
                </div></a>
            </li>
        </ul>
    </div>



<% else %>
    <div class="welcome">
        <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

        <a href="/authorise">Authorise</a>
    </div>
<% end %>








<!--JAVASCRIPT-->
<script language="javascript">
    var profile_values = document.getElementsByClassName('profile-value')

    var total_words = 0
    for (var i = 0; i < profile_values.length; i += 1) {
        total_words += profile_values[i].innerHTML.split(' ').length
    }

    document.getElementById('word-count').innerHTML = total_words
</script>