<% if @profile %>   <!-- N: @profile = instance variable that stores a hash -->
  <h3 id="header"><%= @profile["first_name"].upcase %>'S AMAZING PROFILE</h3>
  
  <div id="cover-photo">
  	<img src="/images/me2.jpg" width="15%" id="me"/>
  </div> 

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
    <div class="profile-section box">
    	<table> 
    		<tr> <th colspan="2"> <h3> Basic Information </h3> </th> </tr>
	 		<tr> <td> First Name: </td>
				 <td> Nicole </td> </tr>
    		<tr> <td> Last Name: </td> 
    			 <td> Sentis </td> </tr>
    		<tr> <td> Gender: </td>
    			 <td> Female </td> </tr>
    		<tr> <td> Date of Birth: </td>
    		     <td> 23 April 1986 </td> </tr>
    		<tr> <td> Work: </td>
    		     <td> Volunteer </td> </tr>
    	</table> 
  		<br> </br>
    	<table> 
    		<tr> <th colspan="2"> <h3> Contact Information </h3> </th> </tr>
	 		<tr> <td> Email: </td>
				 <td> nicole.sentis@gmail.com </td> </tr>
    		<tr> <td> Phone: </td> 
    			 <td> 07845587309 </td> </tr>
    		<tr> <td> Find me on: </td>
  		  		 <td> <ul> 
  						<li> <a href="https://uk.linkedin.com/in/nicolesentis" class="link">LinkedIn</a> </li> 
  						<li> <a href="https://www.facebook.com/nicole.sentis" class="link">Facebook</a> </li>
  						<li> <a href="https://www.codecademy.com/gigaMaster22806" class="link">Codecademy</a> </li>
  						<li> <a href="https://github.com/NicoleAMS" class="link">GitHub </a> </li>  
  		  			</ul> 
    			</td>		  
    	</table> 
    	<br> </br>
    	
        <h3>Edit Profile: Address</h3>

        <form action="/update" method="POST"> <!-- N: <form> is used to create an HTML form for user input -->
          <fieldset>                          <!-- N: <fieldset> is used to group related elements in a form. It draws a box around related elements. -->
            <div class="form-group">
              <label for="trainee[address]">Street: </label> <!-- N: <label> defines a label for an <input> element. Its for attribute should be equal to the id attribute of the related element. -->
              <input id="trainee[address]" type="text" name="trainee[address]" value="16 Churchill Gardens"/> <!-- N: <input> specifies an input field where the user can enter data. Type can be things like text, button, password, checkbox. -->
            </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
        
            <div class="form-group">
            	<label for="trainee[town]">Town/City: </label>
            	<input id="trainee[town]" type="text" name="trainee[town]" value="Newcastle upon Tyne" /> 
            </div> 
            
            <div class="form-group">
            	<label for="trainee[postcode]">Postcode: </label>
            	<input id="trainee[postcode]" type="text" name="trainee[postcode]" value="NE2 1HB" /> 
            </div> 
            
            <input type="submit" value="Update Profile" class="btn btn-primary" /> 
          </fieldset>
         </form>
    </div>
    
    <div class="main">
    </div> 

  <div id="stats" class="box"> <!-- N: Creates H3 Stats box for word count code -->
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box"> <!-- N: Creates H3 Programming Problems box for Prime Number code -->
    <h3>Programming Problems</h3>
    <a href="/primes" class="link">My Prime Number Solution</a>
  </div>

  
  
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>