<% if @profile %>

    <!--<%= @profile.inspect %>-->


    <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

    <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
    <% @profile.each do |field, value| %>
        <div class="profile-section box">
            <h4><%= field %></h4>

            <p class="profile-value"><%= value %></p>
        </div>
    <% end %>

<% else %>
    <div class="welcome">
        <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

        <a href="/authorise">Authorise</a>
    </div>
<% end %>