<% if @profile %>
	<div class = "wrapper">
		<h2><%= @profile["first_name"] %>'s Amazing Profile</h2>
		<br />

	  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
	  <div class = "col col-left">
		  <%= erb(:profile_properties) %>

		  <div id="stats" class="box">
			 <h3>Stats</h3>
			 <!-- TODO - Set the contents of this span with JavaScript -->
			 <span id="word-count">0</span> words found.
		  </div>

		  <div id="problems" class="box">
			 <h3>Programming Problems</h3>
			 <a href="/primes">My Prime Number Solution</a>
		  </div>
	  </div>
	  <div class = "col col-right">
		  <div class = "box" id = "photo">
			  <center><img src = "/images/photo.jpg" width= "100%"></center>
		  </div>
		  <div class="box">
			  <a href = "#", title = "Click Me!"><h3 id = "editFields">Edit Profile</h3></a>

			 <form action="/update" method="POST">
				<fieldset id = "fields">
					<!-- TODO - Add more fields so that your profile can be edited -->
					<%= erb(:form) %><br />

				  <input type="submit" value="Update Profile" class="btn btn-primary" />
				</fieldset>
			 </form>
		  </div>
	  </div>
	</div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
	console.log("I am Javascript!");

	var profile_values = document.getElementsByClassName('profile-value');
	var total_words = 0;
	var word_list = "";
	for (var i in profile_values) {
		if (profile_values[i].textContent != undefined) {
			word_list += (profile_values[i].textContent + " ");
		}
	}
	var filtered_list = word_list.split(" ").filter(function(val) { return val !== ""; });
	total_words += filtered_list.length;
	

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

	document.getElementById('word-count').innerHTML = total_words.toString();
	
	var colRight = document.getElementsByClassName("col-right");
	var colLeft = document.getElementsByClassName("col-left");
	var wrap = document.getElementsByClassName("wrapper");

	var smallWindow = function() {
			for (var i=0; i < colRight.length; i++){
				colRight.innerHTML += colRight[i].style.float="left";
				colRight.innerHTML += colRight[i].style.width="100%";
			}
			for (var i=0; i < colLeft.length; i++){
				colLeft.innerHTML += colLeft[i].style.width="100%";
			}
			for (var i=0; i < wrap.length; i++){
				wrap.innerHTML += wrap[i].style.width="60%";
			}
	}

	/* Responsive Layout */
	var largeWindow = function(){
		for (var i=0; i < colRight.length; i++){
			colRight.innerHTML += colRight[i].style.float="right";
			colRight.innerHTML += colRight[i].style.width="45%";
		}
		for (var i=0; i < colLeft.length; i++){
			colLeft.innerHTML += colLeft[i].style.width="50%";
		}
		for (var i=0; i < wrap.length; i++){
			wrap.innerHTML += wrap[i].style.width="55%";
		}
	}
	window.onload = function(){
		if (window.innerWidth <= 755){
			smallWindow();
		}else{
			largeWindow();
		}
	};
	window.addEventListener('resize', function(){
		if (window.innerWidth <= 755){
			smallWindow();
		}else{
			largeWindow();
		}
	}, true);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$("#fields").hide();

		$("#editFields").click(function() {
			$("#fields").toggle( "slow");
			$("#photo").toggle("slow");
		});
	});
</script>
