  

<div class="container">
  <div class="row">

  <div class="col-md-4" id="profile">
     <img src="./images/nic.jpg">
        <h4><%= @profile["first_name"] %>'s Profile</h4> 
          <div class="button1">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </div>
          <div class="button2">
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
          </div>
    </div>
  <div class="col-md-4">
    <div class="element">
      <p>Name</p>
      <div class="field"> 
        <p><%= @profile["first_name"] +' '+ @profile["last_name"] %></p>
          <div class="block"></div>
      </div>
    </div>
  </div>


  <div class="col-md-4" id= "bio2">.</div>
</div>
</div>
 
  










     
