<% if @profile %>
  <%= erb(:header, :layout => false) %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><%= @profile["first_name"] %>'s Amazing Profile</h1>
          </div>
          <div class="panel-body">
            <img id="face" src="/images/face.jpg" alt="We Got Coders"  />
          </div>
        </div>
      </div>
    </div>

    <!-- TODO- Perhaps re-jig this to fit your new design / layout -->

    <% @profile.each do |field, value| %>
     

      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= field %></h4></div>
        <div class="panel-body">
          <span class="profile-value"><%= value %></span>
        </div>
      </div>
    <% end %>
  </div>  

<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->


<script language="javascript">
  var profile_values = document.getElementsByClassName('profile-value');
  console.log(profile_values);
  var total_words = 0;
  for (i = 0; i < profile_values.length; i++){
    total_words += profile_values[i].innerHTML.split(' ').length;
  }

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>