<!DOCTYPE html>
<head>
	<title> djkhfkahjfk </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="efi.css"/>
</head>
<body>
	<div id="header_cont">
	<div id="header">
		<div id="image_icon">
			<a href="http://www.wegotcoders.com"> <img src="coders_icon.jpg"/> 
			</a>
		</div>
		<div id="nav_menu">
			<ul>
				<li> <a href="#about"> About </a> </li>
				<li> <a href="#coders"> Coders </a> </li>
				<li> <a href="#experience"> Experience </a> </li>
				<li> <a href="#ambition"> Ambition </a> </li>
				<li> <a href="#contact"> Contact </a> </li>
			</ul>
		</div>
	</div>
	</div>
	<!--HOME -->
	<div id="home">
		<div id="name">
			<p> EFI <br>VIOPOULOU </br> </p>
		</div>
		<div id="photo">
			<img src="efi_icon.jpg"/>
		</div>	
	</div>
	<!--ABOUT -->
	<div id="about">
		<h1> ABOUT </h1>
		<p id="about_efi" contenteditable="true">	My name is Efi Viopoulou and I hold a BSc in Applied Informatics and an MSc in Internet Systems and Security. I am an ambitious and goal-oriented person who has developed a mature and responsible approach to any task that I undertook, including individual and team projects during my academic experience. Apart from my programming background, I have also built my design portfolio developing video animations and websites using WordPress, Adobe Photoshop, HTML, CSS, JavaScript, PHP, Google Analytics, Adobe Flash, and ActionScript. Positive and keen to succeed, with advanced analytical and problem solving skills combined with excellent mathematical knowledge, I am currently looking for a progressive organization where I can utilize all my skills.  </p>
		<table>
			
			<tbody>
				<th colspan="2"> Info </th>
				<tr>
					<td> First Name: </td>
					<td> Efi </td>
				</tr>				
				<tr>
					<td> Last Name: </td>
					<td> Viopoulou </td>
				</tr>
				<tr>
					<td> Gender: </td>
					<td> Female </td>
				</tr>
				<tr>
					<td> Date Of Birth: </td>
					<td> 12/12/1990 </td>
				</tr>
				<tr>
					<td> Phone Number: </td>
					<td> 07454868444 </td>
				</tr>
				<tr>
					<td> Employment Status: </td>
					<td> Unemployed </td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--CODERS -->
	<div id="coders">
		<h1> CODERS </h1> 
		<div id="how_hear">
			<h3>How did you hear about us</h3>
			<p id="how" contenteditable="true">I am a recent MSc graduate and the past three weeks I have been looking for a job. My interests span in many areas like security, programming, web development, SEO services, and animation, so I was open to any entry level job related to these areas. wegotcoders appeared on my results when I was looking for web development training.</p>
		</div>
		<div id="expectation">
			<h3>Expectations</h3>
			<p id="expe" contenteditable="true">Through this programme I will be able to learn everything about agile web development and become an experienced web developer. Not only will I be trained through intensive courses by people with expertise in the field, but I will also have the chance to implement everything I have learnt on real-world client projects. I believe that this is a huge opportunity for me since I will be able to combine training and working experience in an area that really fascinates me.</p>
		</div>
	</div> 
	<!-- EXPERIENCE -->
	<div id="experience">
		<h1> EXPERIENCE </h1>
		<div id="project">
			<h3> Project </h3>
			<p id="proj" contenteditable="true">My major programming projects where in <i>C, C++, Java, and JavaScript.</i> The one I mostly enjoyed was a team project, in <i>C++</i>, where we had to design and implement an on line reservation system. The team consisted of 4 people and we quickly defined the responsibilities of each member. After defining the requirements and dividing the problem into smaller ones with appropriate deadlines, we designed the classes that needed to be built. I used CRC cards in order to show how each class is connected to the others and what the responsibilities of each of the classes are. I also created the class diagram using DIA, and I helped in the development of some of the classes where we worked in pairs (pair programming). This project was my first experience working in a group, and I learnt to collaborate and interact with other colleagues.</p>
		</div>
		<div id="learning_exp">
			<h3> Learning Experience </h3>
			<p id="learn" contenteditable="true">In order to enjoy and gain the most of your training, you need to be enthusiastic about the content of the courses you are attending, and one hundred percent sure. Willingness, determination, ambition, and hard work are all key skills that can set your experience to an advanced level that guarantees success.</p>
		</div>
		<div id="skills">
			<ul>
				<li> HTML </li>
				<li> CSS </li>
				<li> PHP </li>
				<li> JS </li>
				<li> PS </li>
				<li> C++ </li>
				<li> JAVA </li>
				<li> SEO </li>
			</ul>
		</div>
	</div>
	<!--AMBITION-->
	<div id="ambition">
		<h1> AMBITION </h1>
		<p id="ambit" contenteditable="true">My career aspirations stem from the desire of lifelong learning and building of my skills. After the completion of the training part and the placement, I see myself working for a progressing organisation and utilizing everything I have learnt through this programme. I will have 9 months of industrial experience and in the meantime I will be building my career skills through certifications.</p>
	</div>
	<!--CONTACT-->
	<div id="contact">
		<h1> CONTACT </h1>
			<div id="icons">
				<a href="https://twitter.com/Efi_Viopoulou" title="Twitter"><img src="twitter_icon.png"></a>
				<a href="http://www.myevarea.com" title="My Personal Website"><img src="ps_icon.png"/><a/>
				<a href="https://github.com/efiviopoulou" title="GitHub"><img src="github_icon.png"></a>
			</div> 
	</div>
<script>
console.log("About section");
var count = document.getElementById('about_efi').innerHTML.split(' ').length;
console.log(count + " words")
console.log("About how you found us section");
var count = document.getElementById('how').innerHTML.split(' ').length;
console.log(count + " words")
console.log("About experience section");
var count = document.getElementById('expe').innerHTML.split(' ').length;
console.log(count + " words")
console.log("About projects section");
var count = document.getElementById('proj').innerHTML.split(' ').length;
console.log(count + " words")
console.log("About what I will learn section");
var count = document.getElementById('learn').innerHTML.split(' ').length;
console.log(count + " words")
console.log("About ambitions section");
var count = document.getElementById('ambit').innerHTML.split(' ').length;
console.log(count + " words")
</script>
	
</body>
</html>
