<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We Got Coders - My Amazing Application</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <div id="logo">
    <img src="/images/logo-white.png" id="logo-img" alt="We Got Coders"  />
  </div>

  <div class="dropdown" style="float:right;">
    <img src="/images/menu.png" id="menu" alt="menu" />
        <div id="dropdown-content">
        <a href="/">About Me</a>
        <a href="/primes">Programming Problems</a>
        <a href="#">My CV</a>
        </div>
  </div>

    <%= yield %>

</body>
</html>