<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We Got Coders - My Amazing Application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <div id="logo">
    <img src="/images/logo.png" alt="We Got Coders"  />
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
<footer class="footer">
  <div class="container text-right" id="bottom">
  <a id="icons" href="https://twitter.com/Jackman307" target="_blank"><i class="fa">&#xf099;</i></a>
  <a id="icons" href="https://github.com/mjjackman" target="_blank"><i class="fa">&#xf09b;</i></a>
  <a id="icons" href="https://www.linkedin.com/in/matthew-jackman-654006131/" target="_blank"><i class="fa">&#xf08c;</i></a>
</footer>
</div>
</html>
