<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We Got Coders - My Amazing Application</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div id="head">         
    <div id="topnav">
      <div id="logo">IMAGINE SOME AWESOME LOGO HERE</div>
      <div id="slogan">... some cheesy slogan here.</div>
      <ul id="menu">
        <li><a href="">COOL</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">HERE</a></li>        
      </ul>
    </div>        
  </div>    
  <div id="content" class="shadow">
    <div class="profile-section box" style="float:right; background: none;">
      <img class="me" src="/images/me.jpg" alt="me"  />
      <h3 style="font-style: italic; text-transform: none;">the amazing ME</h3>
    </div>
    <%= yield %>
  </div>
  <div id="footer" class="shadow"><img src="/images/logo.png" alt="We Got Coders"  /></div>   
</body>
</body>
</html>