<!DOCTYPE html>
<html lang="en">
<head>
  <title>We Got Coders - My Amazing Application</title>

  <!--METADATA-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--MY STYLES-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" type="text/css" href="styles.css">

  <!--OLD STYLES-->
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <div id="logo">
    <img src="/images/logo.png" alt="We Got Coders"  />
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>