<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We Got Coders - My Amazing Application</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <div id="logo">
    <img src="/images/logo.png" alt="We Got Coders"  />
  </div>

  <div id="profilePicture">
    <img src="/images/profile.jpg" alt="Profile Picture" />
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>