<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We Got Coders - My Amazing Application</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div id="head" class="shadow2">         
    <div id="topnav">
      <div id="logo">IMAGINE SOME AWESOME LOGO HERE</div>
      <div id="slogan">... some cheesy slogan here.</div>
      <ul id="menu">
        <li class="animated_li"><a href="">cool</a></li>
        <li class="animated_li"><a href="">menu</a></li>
        <li class="animated_li"><a href="">here</a></li>
      </ul>
    </div>        
  </div>    
  <div id="content" class="shadow"><%= yield %></div>
  <div id="footer" class="shadow"><img src="/images/logo.png" alt="We Got Coders"  /></div>   
</body>
</body>
</html>