<div class="problemdiv">
  <h1>Highest Palindrome Product</h1>
  <br />
  <p>A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

  Find the largest palindrome made from the product of two 3-digit numbers.</p>

  <br /><br />

  <h3><%= @largest_palindrome %></h3>

  <br />

  <div>
    <a href="/">Back</a>
  </div>

</div>