<div class="problemdiv">
  <h1>Pandigital Products</h1>
  <br />
  <p>We shall say that an n-digit number is pandigital if it makes use of all the digits 1 to n exactly once;
  for example, the 5-digit number, 15234, is 1 through 5 pandigital.<br /><br />

  The product 7254 is unusual, as the identity, 39 × 186 = 7254, 
  containing multiplicand, multiplier, and product is 1 through 9 pandigital.<br /><br />

  Find the sum of all products whose multiplicand/multiplier/product identity can be written as a 1 through 9 pandigital.
  <br /><br />

  <em>HINT: Some products can be obtained in more than one way so be sure to only include it once in your sum.</em></p>

  <br /><br />

  <h3><%= @pandigital_sum %></h3>

  <br />

  <div>
    <a href="/">Back</a>
  </div>

</div>