<h1>Pictures</h1>

<center>
	<div>
		<table>
			<tr>
				<td><img src="/images/profile.jpg"/></td>
				<td><img src="/images/profile.jpg"/></td>
			</tr>
			<tr>
				<td><img src="/images/profile.jpg"/></td>
				<td><img src="/images/profile.jpg"/></td>
			</tr>
		</table>
	</div>

	<br>

	<div>
	  	<a style="line-height: 100px; display: block; text-decoration: none; color: black; height: 100px; width: 100px; background-color: #8b9dc3; margin: 20px" href="/">Back</a>
	</div>
</center>