<h1>Prime Numbers</h1>

<center>
	<div>
		<p>Sum : <%= @sum %></p>
	</div>
	<br/>
	<div>
	  	<a style="line-height: 90px; display: block; text-decoration: none; color: black; height: 100px; width: 100px; background-color: #8b9dc3" href="/">Back</a>
	</div>
</center>