<div class="solutions">
  <ul>
    <li><h1 style="font-size:19px">Prime Numbers</h1></li>
        <p> The sum of all the prime number under <%= @amount %> is <%= @sum %>.</p>
        <br>
    <li><h1 style="font-size:19px">Sum of Multiples of 3 or 5</h1></li>
        <p> The sum of all the natural numbers that are multiples of 3 or 5 below the number <%= @amount %> is <%= @mult %>.
  </ul>
  <div>
    <a href="/">Back</a>
  </div>
</div>
