<h3>Prime Numbers</h3>
<div class="primes">  
  <div class="box">
    <p>Primes in 100 = <%= @sum %></p>
  </div>

  <div class="box">
    <p>Primes in 10 000 = <%= @sum_10k %></p>
  </div>

  <div class="box">
    <p>Primes in 500 000 = <%= @sum_500k %></p>
  </div>

  <div class="box">
    <p>Primes in 2 000 000 = <%= @sum_2m %></p>
  </div>

  <div>
    <a href="/">Back</a>
  </div>
</div>