
<div id="primes-section">
  <h1>Prime Numbers</h1>

    Sum : <%= @sum %>
  <br>

  <div id="primes">
    <a href="/">Back</a>
  </div>
<script>
  window.onbeforeunload = function(){
   // Do somethin
   return "Leaving or refreshing this page will mean you cannot view the correct result of the primes anymore (bug is being looked in to).";
}
</script>
</div>
