<h1>Prime Numbers</h1>

<% 

# num = 0
# last = 100

# while(num <= last)
# 	prime = true
# 	x = 2

# 	while(x <= num / 2)
# 		if(num % x == 0)
# 			prime = false
# 			break
# 		end

		
	# end

primes = Prime.take(99) 
@sum = primes.inject{|sum,x| sum + x }

second_prime = Prime.take(2000000)
second_prime = second_prime.inject{|sum,x| sum + x }


%>

Sum : <%= @sum %>
Sum of primes up to 2 million: <%= second_prime %>

<div>
  <a href="/">Back</a>
</div>