<div class="container">
<h3 class="header-text">Prime Numbers</h3>

<p class="box">Sum : <%= @sum %></p>

<div>
  <button class="button gradients"><a href="/prime/input">Back</a></button>
</div>
</div>