<h1>Prime Numbers</h1>

Sum : <%= @sum %>



<div>
  <a href="/">Back</a>
</div>

<!--
Add code to the primes.rb file, that finds the sum of all prime numbers less than one hundred. Can you refactor the implementation so that you can pass in higher numbers to act as the limit? Test your implementation by running the rspec command rspec. Find the sum of all prime numbers up to two million. Add a field to your profile named trainees[primes_sum] and enter in your answer. -->




