<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We Got Coders - My Application</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th id="logobox">
          <div class="pic">
            <img src="/images/logo.png" alt="We Got Coders"/>
          </div>
        </th>
        <th id="profilebox">
          <div class="pic">
            <div id="profile">
              <!-- <img id="profile" src="/images/profile.jpg" alt="Profile" height="190px" width="150px" /> -->
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="2">
          <div id="content">
            <%= yield %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
