body {
  font-family: "Quicksand", "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background: #FFFBF8;
}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
  text-align: center;
}

.box {
  padding: 1em;
  margin-bottom: 0.5em;
  display: block;
  height: 300px;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2%;
  letter-spacing: 20px;
  text-shadow: 3px 3px 5px #888888;
}

h4{
  text-transform: capitalize;
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border-bottom: solid 1px #888888;
}

#profpic {
  margin: 10px;
  border-radius: 5%;
  box-shadow: 10px 1px 5px #888888;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

p {
  padding-top: 1em;
}
/* TODO - Add your own styles here */
