body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: black;

}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
}

.box {
  border: 1px solid #999;
  background: #088090;
  padding: 1em;
  margin-bottom: 0.5em;
  color:white;
  text-align: center;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */
/*header,changed background*/
/*header ========================================================================================== */
  header{
  text-align: center;
  text-decoration: underline;
  color:white;

}
/*gradiate for banner*/
#grad { 
  background: -webkit-radial-gradient( #F5ECCD 5%, green 15%, #7F0710 60%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(red 5%, green 15%, blue 60%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(red 5%, green 15%, blue 60%); /* For Firefox 3.6-15 */
  background: radial-gradient(#FFFEFF 5%, #38B5B6 15%, #007789 60%); /* Standard syntax */
}
/*main content ========================================================================================== */
.profile-image-container{
  text-align: center;
}

.animated-gif-backround{
/*  width:inherit;
  height:inherit;*/
  /*background: url(/images/giphy.gif);*/
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 100%;

}

/*profile container ========================================================================================== */

.profile-container{
  width:100%;
  height:530px;
  overflow: scroll;
}

.profile-section{
  color: white;
  background-color: black;
  /*animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  -webkit-transition: all .25s ease-in; 
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
  background-color: #088090;
  opacity: .0;*/
}
.profile-section h4{
  
}
.profile-section:hover{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  -webkit-transition: all .25s ease-in; 
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
  background-color: #088090;
}
#profileSectionShow h4{
  font-size: 18px;
  text-transform: capitalize;
  color:white;
  opacity: 1;
}
/* form container ==========================================================================================*/
.form-container fieldset{
  padding: 19px;
/*  height:500px;*/
  width:100%;
}
.input-value{
  color:black;

}

