body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

#logo {
  text-align: center;
  opacity: 1.0;
}

#content {
  padding: 1em;
}

.box {
  border: 1px solid #999;
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 0.5em;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */
body {

}

.background > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.6;
}

#profile:before {
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent 30%, #85E377 70%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent 30%, #85E377 70%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent 30%, #85E377 70%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent 30%, #85E377 70%); /* Standard syntax */
  background-size:cover;
}

#img {
  text-align:center;
}

.update {
  font-size:10px;
  font-weight:600;
  padding-left:400px;
  margin-top:-30px;
}

.update:hover {
  text-decoration:underline;
  cursor:pointer;
}

.hide {
  display:none;
}

.btn {
  max-height:30px;
}

#accounts .profile-section2 *:not(.codecademy_tracks),
#about .profile-section2 * {
  display:inline;
  margin-bottom:8px;
}

.codecademy_tracks {
  padding-left:10px;
}

.codecademy_tracks img {
  height:30px;
}
