body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  min-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/images/background1.svg");
}

main {
  min-height: 90%;
}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
}

.box {
  border: 1px solid #999;
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 0.5em;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */

.profile-picture {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 400px;
  border: 1px solid black;
  padding: 1em;
  display: inline-block;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-container {
  display: inline-block;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 20%;
  vertical-align: top;
  width: 450px;
}

.info-container li {
  text-transform: capitalize;
  list-style-type: none;
  padding-top: 0.5em;
  font-size: 1.8em;
}

.info-container li:first-of-type {
  text-transform: uppercase;
}

.info-container li:nth-of-type(2) {
  text-transform: lowercase;
}

.info-container li:nth-of-type(7) {
  text-transform: uppercase;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-transform: capitalize;
  font-size: 1.5em;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 10px 18px;
  background-color: white;
  display: none;
}

h4 {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-size: 1.0em;
}

.application-box {
  border: 1px solid #999;
  background: #FCFCFC;
  margin-bottom: 0.5em;
}

#edit {
  border: 1px solid #999;
  background: #FCFCFC;
  margin-bottom: 0.5em;
}

.form-group label{
  display: block;
  vertical-align: top;
}

.form-group input{ 
  width: 250px;
  margin-bottom: 1em;
 }

textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-group:nth-child(-n+11) {
  width: 350px;
}