body {
  font-family: Arial,sans-serif,Helvetica;
  font-size: 14px;
  line-height: 1.428571429;
  /*color: #333;*/
  background: linear-gradient(to bottom right, #4f7667 50%, #3aac82 100%);
}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
}

.box {
  border: 1px solid #000;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background-color: #A9A9A9;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */

.profilePic{
  text-align: center;
  width: 200px;
  hight: 200px;
  border-radius: 50%;
}
#image{
  padding: 1px;
  margin-bottom:10px;
  text-align: center;
}
.name{
  font-size: 25px;
}

.container{
  margin-bottom: 50px;

}
.row{
  padding:30px;
  margin: auto;
}
.count{
  font-family: monospace,Arial,sans-serif;
  text-align: right;
  margin-right: 20px;
}
.profile{
  display: none;
}

.text{
    font-size: 1em;
    padding: 10px;
    width:350px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #ffffff;
}
.discriptions{
  font-size: 1.2em;
  margin-bottom:10px;
  background-color: #474e5d;
  color: #ffffff;
  border-radius: 10px;
}
#edit{
  font-size: 2em;
}

#icons{
  font-size:36px;
  color: black;
  padding:5px;
  margin-bottom: 0px;
}
#icons:hover{
  font-size: 40px;
  color: blue;
}
.footer{
  height:60px;
  background-color: #4fb49a;
  padding:5px;
  text-right;
}
#bottom{
  margin-bottom: 1px;
}
#problems{
  background-color: #618685;
  width:300px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}
.info{
  margin:5px;
  padding:10px;
}
