body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

#logo {
  text-align: center;
  /*added*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background: white;
  z-index: 10;
}

#content {
  padding: 1em;
  /*added*/
  background: #a5784d url("/images/woodfloor.jpg") no-repeat fixed center;
  margin-top: 30px;
  margin-left: 50px; /*added*/	
  margin-right: 50px;  
}

.box {
  /*border: 1px solid #999;
  background: #FCFCFC;*/
  padding: 1em;
  margin-bottom: 0.5em;
  /*added*/	
  border-radius: 25px;
  background-color: #ffffff;
  opacity: 0.6;
  overflow: hidden;
  display: inline-block;
}

.welcome {
  text-align: center;
  margin-top: 70px;
  margin-left: 50px; /*added*/	
  margin-right: 50px;  
  background: none;
}


h3 {
  font-size: 2em;
  text-align: center;
  color:#513d23; /*modified*/
  /*added*/
  text-shadow: #333 2px 1px 0px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */
#authorize {
  z-index: 10;
  margin-bottom: 100px;
}

.boxFullWidth {  
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 25px;
  background-color: #ffffff;
  opacity: 0.6;
  overflow: hidden;
  display: inline-block;
  width: 97%;
}


div h4 {
    text-transform: uppercase;
    font-family: courier;
    font-size: 1.5em;
    font-weight: bold;
}

.profile-value {
    font-family: arial;
    font-size: 1em;
    columns: 100px 2;
}

#profilePicDiv {
    width: 300px;
    float:left; /* add this */
    height:auto;
    margin-right: 20px;
    margin-bottom: 30px;
    transform: rotate(-7deg);
}

#profilePic {
    width:auto;
    height:auto;
    border: 10px solid white; 
}

.inputBox{
    width: 100%;
    float: left;
    margin: 0px 5px 5px 5px;
    height:20px;

}
