body {
  font-family: "Titilium Web",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background: url(/images/grass_at_sunset.jpeg) no-repeat center center 
  position: relative;
  top: 0; 
  left: 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(/images/grass_at_sunset.jpeg);
  
  /* Preserve aspet ratio */
  width: 100%;
  min-height: 100%;
}

#logo {
  text-align: right;
  position: relative;
}

#content {
}

.edit_box {
  width: 90%;
  overflow: hidden;
  margin: 20px 0px 20px 0px;
  padding-left: 5%;
  padding-right: 5%;

}

.box {
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;

}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  text-align: right;


}

.box:hover {
  background-color: rgba(255, 255, 255, 0.8)
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.banner-text {
  font-size: 2.5em;
  /*line-height:300px;*/
  position: absolute;
  text-align: right;
  height: 100%;
  width: 98%;
  padding-top: 230px;
  padding-right: 80px;
  font-family: 'Barrio', cursive;
  color: #f8f8f8;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

.column-right {

  width: 40%;
  height: 200px;
  position: relative;
  float: right;
  margin: 20px 0px 10px 0px;
  display: table;
  }


.column-left {

  width: 60%;
  height: 200px;
  float: left;
  position: relative;
  background-color: rgba(0,0,0, 0);
  margin: 20px 0px 10px 0px;
  font-family: 'Barrio', cursive;
  display: table;
}

.wrapper div{
display: inline-block;
}
.wrapper:after{
  content: "";
  width: 100%;
  display: inline-block;

}

.wrapper {
  width: 90%;
  overflow: hidden;
  margin: -5px 0px -5px 0px;
  padding-left: 5%;
  padding-right: 5%;
}

#profile-image {
  width:100%;
  height: 300px;
  overflow: hidden;
  vertical-align: middle;
  position: absolute;

}

#form {
  background-color: rgba(255, 255, 255, 0.5);
}

#form:hover {
  background-color: rgba(255, 255, 255, 1);
}

p {
  padding-left: 10px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

h4 {
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  text-align: justify;
  margin: 10px 20px 10px 20px;
  font-size: 50px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: 'Barrio';
}

#stats {
  background-color: rgba(0, 0, 0, 0.5);
}

.profile[hidden] {
  display: none !important;
}

*[hidden] {
  display:none;
}
/* TODO - Add your own styles here */

.button {
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #e59400;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 10px;
}

.button:hover {background-color: #cc8400}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}