body {
  font-family: "Trebuchet MS", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
}

.box {
  /*border: 1px solid #999;*/
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 0.5em;
    text-align: center;
    border-radius: 5px;
}
.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;  
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */
ul.menu li {
    display: inline-block;
    padding: 10px;
    float: right;
}

.clearboth{
    clear:both;
}

div.profile-section h4 {
    font-weight: bold;
    font-size: 14px;
}

table.edit-table td{
    padding: 10px;
}

table.edit-table td textarea{
    width: 700px;
    min-height: 50px;
    border-radius: 5px;
}
#profile-picture{
    float: left;
    margin: 10px;
    border-radius: 5px;
}
#profile-picture img{
    border-radius: 5px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}
.menu li:first-child {
    margin-right: 450px;
}  
a:hover,
button:hover{
    font-weight: 900;
}
.container{
    margin: auto;
    width: 60%;
}
.header-text{
    display: inline-block;
    margin-left: 350px;
    font: italic 3em/1em "Bookman Old Style";
    padding: 20px;
    margin-bottom: 45px;
    margin-top: 20px;
    text-align: center;
}
.header-about{
    text-align: center;
    position: relative;
    top: -25px;
    font-size: 2em;
}
h4{
    font-weight: 600;
}
.profile-info{
    float: left;
    margin-left:30px;
}
.profile-info table,
.right table{
    width: 30%;
    margin-bottom: 20px;
    margin-top: 40px;
}
.profile-info th
.right th{
    height: 50px;
    text-align: center;
    position: relative;
}
.profile-info td,
.right td{
    padding: 6px;
}
.right {
    float: right;
    margin-right: 45px;
}
.gradients{
    background:   -o-linear-gradient(right bottom, #fff, #706b67); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right bottom, #fff, #706b67); /* For Firefox 3.6 to 15 */
    background:      linear-gradient(to right bottom, #fff, #706b67); /* Standard syntax */
}
.button{
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: 0 2px 1px #706b67;
}
#primes-limit{
    height: 22px;
    width: 150px;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
}
.headings{
    margin-top: 5px;
    text-transform: uppercase;
}
.profile-value{
    font: normal 15px/25px "Trebuchet MS";
}