body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #333;
  background-color: #FBF8EF;
  background-image: url(../images/burnt_paper.png);
  background-repeat: no-repeat;
  background-position: 60px 80px;
  background-size: 85%;
}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
}

.box {
  padding: 1em;
  margin-bottom: 0.5em;
  margin: 0 220px 0.5em 100px;
}

.welcome {
  text-align: center;
}

h3 {
  font-family: "Alegreya";
  font-size: 1.5em;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */
@font-face {
  font-family: "Alegreya Bold";
  src: url("Alegreya-Bold.otf");
}
@font-face {
  font-family: "Alegreya";
  src: url("Alegreya-Regular.otf");
}

h1 {
  font-family: "Alegreya Bold";
  font-size: 2.5em;
  text-shadow: 2px 1px 0px #FFF;
  text-align: center;
  color: #FE2E2E;
  margin-bottom: 2.5em;
}

h4 {
  font-family: "Alegreya";
  font-size: 1.4em;
  text-transform: uppercase;
  text-shadow: 2px 1px 0px #FBF8EF;
}

.info {
  overflow: hidden;
}

.accounts {
  clear: both;
  margin: 1.5em 220px 0px 100px;
}

.account-box {
  width: 35%;
  float: left;
  margin-left: 100px;
  margin-bottom: 0.5em;
}

.list {
  font-family: "Alegreya";
  font-size: 1.5em;
}

#stats {
  margin-top: 1.5em;
}
