div{
     text-align:center;
  
}
.profile-wrapper {
   background-color: #e6e9ec;
   margin-botton : 20px;

 }

 

img.profile-photo-preview{
    background-color: #e6e9ec;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top:-50px;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    border: 4px solid #fff;
    box-sizing: content-box;
    
 }
section.profile-section{
      margin-top: 0;
      z-index: 2;
      height:100%;
      width:75%;
      align-items: center;
    /* margin-left: 10%; */
     margin-left: 10%;
     margin-right: 10%;
     display: block;
     background-color: #fff;
     border-radius: 2px;
     position: relative;
     list-style: none;
     box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.row {
    width: 60%;
    height:45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
} 
.col {
    float: left;
    width: 25%;
} 
 
   
 