html,
body {
  margin: 0;
  padding: 0;

}

.container {
  max-width: 940px;
    margin: auto;
  display: block;
}

.container2 {
  max-width: 75%;
  display: block;
  margin: auto;

}

/* Header */
.header {
  background-color: #1c1c1c;
  font-family: 'Oswald', sans-serif;
}

.header h1 {
  color: orange;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}

.header h1 span {
  color: #fff;
  padding-left: 3px;
}

.header .login {
  position: relative;
  float: right;

}

.header .login p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}


.header .col-md-3, .header .pull-right {
  width: 50%; float: left;
}

.header .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0px;
  left: auto;
  width: 290px;
  border-radius: 3px;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: orange;
}

.header .dropdown-menu h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-transform: uppercase;

}

.header .dropdown-menu button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}

.header .dropdown-menu button:hover {
  background-color: #1c1c1c;
  color: white;
}

/* Main */
.main {
  background: url(images/rails.gif) no-repeat center center;
  background-size: cover;
  height: 80vh;

}

/*#accordion {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.ui-accordion-header {
  background-color: #1c1c1c;
  border-top: 1px solid #ddd;
  color: #fff;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin: 0;
  outline: 0;
  padding: 8px 20px;
  text-transform: uppercase;
}

.ui-accordion-content {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 0px 20px;
}

.ui-accordion-content ul {
  list-style: none;
  padding: 0;
}

.ui-accordion-content li {
  padding: 1px 0;
}
*/
/* Supporting */
.supporting {
  background-color: #1c1c1c;

}

.supporting h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  margin: auto;
  margin-top: 33px;
  margin-bottom: 33px;
  font-size: 4rem;

  color: #fff;
}


.supporting p {
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 8px 0 40px 0;
  color: #fff;
}

.feature {
  background-color: #808080;
  background-size: cover;
  height: 568px;




}

/* Footer */
.footer {
  background-color: #1c1c1c;
  font-family: 'Oswald', sans-serif;
  padding: 40px 0 20px 0;
  color: #fff;

}

.footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.footer li {
  text-transform: uppercase;
}

.footer p {
  color: #999;
  font-size: 11px;
}

.parent2 {
  top:60px;
  left:20px;
  position:fixed;
 display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.test1 {
  width:60%;
  height:60%;
  background-color:orange;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background-color:orange;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:orange;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}
  .test4 {
  width:60%;
  height:60%;
  background-color:orange;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}
.mask2 {
  top:60px;
  left:20px;
  width:100px;
  height:100px;
  background:orange;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}

.menu-active {
  color: orange; 
}




